/*Han de completarse los selectores que faltan, según los comentarios que hay
encima de cada regla CSS */

/* Todos los elementos "div" de clase "videoYoutube" en toda la pagina */

 div{
    text-align: center;
}

/* Cabecera de la tabla y pie de la tabla */

 thead{
    background-color:gainsboro;
}

/* Todos los elementos del tbody que no sean th */
 tbody~td{
    color:blue;
    font-weight: bolder;
}

/* Todos los elementos del pie de la tabla */

 tfoot{
    color:brown;
    font-weight: 300;
    font-style: italic;
}

