.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box {
	margin: 20px;
	padding: 20px;
	background-color: lightgray;
	text-align: center;
}

.box:hover {
	background-color: gray;
}

.button {
	padding: 10px;
	margin-top: 20px;
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: darkblue;
}

  